---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<article
  class="xl:w-full lg:w-full w-11/12 mx-auto max-w-[520px] bg-white rounded-xl p-8 relative lg:-mt-[142px] xl:-mt-[142px] md:-mt-[142px]  -mt-[10%] shadow-2xl mb-28"
>
  <div class="flex justify-star gap-3">
    <slot name="before-title" />
    <h2 class="text-[#2f1533] lg:text-5xl xl:text-5xl font-bold text-3xl">
      {title}
    </h2>
  </div>
  <slot />
</article>
